<head>
    <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '137552787029500');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=137552787029500&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body background="/img/background.jpg"><h1>Detalhes</h1>
  <div>
    <ul>
      <li><a href="/home/List">Produtos</a></li>
      <li><a href="/home/index">Home</a></li>
    </ul>
  </div>
  <div class="div-item" id="divPlaca">
    <div>
      <span style="font-weight: bold;color:#FF3333">Preço: R$ 378,00</span>
    </div>
    <a href="/home/Detail#placa">
      <img src="/img/placa_mae_pcware_ddr2_lga775.png" height="200" width="200"/>
    </a>
  </div>
  <div class="div-item" id="divTrompete">
    <div>
      <span style="font-weight: bold;color:#FF3333">Preço: R$ 720,00</span>
    </div>
    <a href="/home/Detail#trompete">
      <img src="/img/trompete_magnum.jpg" height="200" width="200" />
    </a>
  </div>
  <script>
    window.onload = function(){
      debugger;
      if(location.hash == "#trompete"){
        var divPlaca = document.getElementById('divPlaca');
        divPlaca.style.display = 'none';
      }else{
        var divTrompete = document.getElementById('divTrompete');
        divTrompete.style.display = 'none';
      }
    }
  </script>
</body>