<body background="/img/background.jpg"><h1>HOME</h1>
  <div>
    <ul>
      <li><a href="/home/List">Produtos</a></li>
      <li><a href="/home/index">Home</a></li>
    </ul>
  </div>
  Bem Vindo ao nosso Site
</body>