.check_mark {
  width: 80px;
  height: 100px;
  margin: 0 auto;
}

.check_mark .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.check_mark .sa-icon.sa-success {
  border-color: #4CAF50;
}

.check_mark .sa-icon.sa-success::before,
.check_mark .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check_mark .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.check_mark .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.check_mark .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.check_mark .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check_mark .sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.check_mark .sa-icon.sa-success {
  border-color: transparent\9;
}

.check_mark .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}

.check_mark .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.check_mark .animateSuccessTip {
  animation: animateSuccessTip 0.75s;
}

.check_mark .animateSuccessLong {
  animation: animateSuccessLong 0.75s;
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.check_mark .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
}

.check_mark .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg);
}

.check_mark .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg);
}

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

.error_mark {
  width: 80px;
  height: 112px;
  margin: 0 auto;
}

.error_mark .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid red;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.error_mark .sa-icon.sa-error {
  border-color: red;
}

.error_mark .sa-icon.sa-error::before,
.error_mark .sa-icon.sa-error::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg);
}

.error_mark .sa-icon.sa-error::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px;
}

.error_mark .sa-icon.sa-error::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0px 60px;
}

.error_mark .sa-icon.sa-error .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(242, 116, 116, .5);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.error_mark .sa-icon.sa-error .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg);
}

.error_mark .sa-icon.sa-error.animate::after {
  animation: errorPlaceholder 4.25s ease-in;
}

.error_mark .sa-icon.sa-error {
  border-color: transparent\9;
}

.error_mark .animateErrorDown {
  animation: animateErrorDown 0.75s;
}

.error_mark .animateErrorUp {
  animation: animateErrorUp 0.75s;
}

.error_mark .sa-icon.sa-error .sa-line {
  height: 5px;
  background-color: rgba(242, 116, 116);
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.error_mark .sa-icon.sa-error .sa-line.sa-tip,
.error_mark .sa-icon.sa-error .sa-line.sa-long {
  width: 45px;
  left: 18px;
  top: 38px;
}

.error_mark .sa-icon.sa-error .sa-line.sa-tip {
  transform: rotate(45deg);
}

.error_mark .sa-icon.sa-error .sa-line.sa-long {
  transform: rotate(-45deg);
}

@keyframes animateErrorDown {
  0% {
    width: 0;
    left: 18px;
    /* top: 19px; */
  }

  54% {
    width: 0;
    left: 18px;
  }

  70% {
    width: 45px;
    left: 18px;
  }

  84% {
    width: 30px;
    left: 18px;
  }

  100% {
    width: 45px;
    left: 18px;
  }
}

@keyframes animateErrorUp {
  0% {
    width: 0;
    right: 46px;
  }

  65% {
    width: 0;
    right: 46px;
  }

  84% {
    width: 48px;
    right: 0px;
  }

  100% {
    width: 45px;
    right: 8px;
  }
}



@keyframes errorPlaceholder {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}