<log4net>
    <appender name="RollingFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
        <file value="logs/Cashflow-Api-Debug-log.txt" />
        <PreserveLogFileNameExtension value="true" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="1MB" />
        <staticLogFileName value="true" />
        <ImmediateFlush value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d{yyyy-MM-ddTHH:mm:ss.fff} [%level%] %m%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="DEBUG" />
        </filter>
    </appender>
    <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Cashflow-Api-Info-log.txt" />
      <PreserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d{yyyy-MM-ddTHH:mm:ss.fff} [%level%] %m%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO" />
            <levelMax value="WARN" />
        </filter>
    </appender>
    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
        <file value="logs/Cashflow-Api-Error-log.txt" />
        <PreserveLogFileNameExtension value="true" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="1MB" />
        <staticLogFileName value="true" />
        <ImmediateFlush value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d{yyyy-MM-ddTHH:mm:ss.fff} [%level%] %m%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR" />
            <levelMax value="FATAL" />
        </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderDebug" />
      <appender-ref ref="RollingFileAppenderInfo" />
      <appender-ref ref="RollingFileAppenderError" />
    </root>
</log4net>